@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: url("../images/purty_wood.png");
  color: #361f1d;
  font-size: 14px; }

main {
  margin: 0 auto;
  width: 80%; }

section {
  padding: 20px 40px;
  margin: 10px auto;
  background-image: url("../images/concrete_seamless.png");
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15); }
  section .example {
    display: inline-block;
    padding: 20px;
    width: 49%; }
  section .code {
    border: 0;
    color: #ffffff;
    font-family: monospace;
    font-size: 16px;
    display: inline-block;
    padding: 20px;
    margin: 20px 0;
    vertical-align: top;
    width: 50%;
    background-color: #361f1d; }

h2 {
  padding: 0 10px;
  text-shadow: -1px 1px rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 white; }
  h2 .num {
    color: #b0430b;
    font-size: 30px;
    font-family: 'Pinyon Script', cursive; }

.zurui-hr {
  margin: 40px auto;
  /* border: 0px solid transparent; */
  /* @include zurui-line-bottom(.1, .5); */ }

.zurui-div {
  /* height: 160px; */
  /* @include zurui-line-all(.1, .5); */ }

.zurui-text-000 {
  /* background-color: #ffc300; */
  /* color: #000000; */
  padding: 20px;
  /* @include zurui-text-shadow-000(.2); */ }

.zurui-text-fff {
  /* background-color: #3d3d3d; */
  /* color: #ffffff; */
  padding: 20px;
  /* @include zurui-text-shadow-fff(.2); */ }

.zurui-gradient-lighten {
  /* height: 160px; */
  /* @include zurui-gradient-top-lighten(#222222); */ }

.zurui-gradient-darken {
  /* height: 160px; */
  /* @include zurui-gradient-top-darken(#48b1f2); */ }

.zurui-div-radius {
  /* background-color: #ffffff; */
  padding: 20px;
  /* @include zurui-border-radius(6px); */
  /* @include zurui-box-shadow; */ }

.zurui-button-radius {
  /* border: 1px solid darken(#ffc300, 5%); */
  /* color: #ffffff; */
  /* @include zurui-text-shadow-000(.1); */
  /* @include zurui-border-radius; */
  /* @include zurui-gradient-top-lighten(#fbac01, 20%); */ }

.zurui-box-shadow1 {
  /* height: 160px; */
  /* background-color: #ffffff; */
  /* @include zurui-border-radius(4px); */
  /* @include zurui-box-shadow; */ }

.zurui-box-shadow2 {
  /* background-color: #4b69b8; */
  /* color: #ffffff; */
  display: inline-block;
  padding: 5px 15px 5px 25px;
  margin-bottom: 20px;
  position: relative;
  /* @include zurui-box-inner(20px); */ }
  .zurui-box-shadow2 .num {
    font-size: larger; }
  .zurui-box-shadow2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #f0f0f0; }
  .zurui-box-shadow2:after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: 5px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid #3b5495;
    transform: rotate(45deg); }

.zurui-box-shadow3 {
  /* height: 160px; */
  /* background-color: #ffffff; */
  /* @include zurui-border-radius(4px); */
  /* @include zurui-box-deboss; */ }

.zurui-box-shadow4 {
  /* height: 160px; */
  /* background-color: #ffffff; */
  /* @include zurui-border-radius(4px); */
  /* @include zurui-box-emboss; */ }

.zurui-button {
  /* display: block; */
  /* @include zurui-text-shadow-000; */
  /* @include zurui-gradient-top-lighten(#48b1f2); */
  /* @include zurui-border-radius(4px); */
  /* @include zurui-box-emboss(.2, .1, .3); */
  /* color: rgba(255, 255, 255, .9); */
  /* text-align: center; */
  /* padding: 10px 30px; */
  /* font-size: 16px; */
  /* line-height: 1em; */
  /* font-weight: bold; */ }
  .zurui-button:hover {
    /* @include zurui-gradient-top-lighten(#48b1f2, 15%); */
    /* color: rgba(255, 255, 255, 1); */ }

/*# sourceMappingURL=zurui-scss.css.map */
